/* import "react-loader-spinner/dist/loader/css/react-spinner-loader"; */



.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.custom-img {
  background-color: red;
  max-height: 350px;
  width: 100%;
  object-fit: cover;

}

.fab {
  color: rgb(189, 181, 181);
}

.custom-img-about {
  height: 500px;
  object-fit: cover;
  width: 100%;
}

.contact p {
  font-size: 1.2rem;
}

.bg {
  background-color: rgb(243, 235, 235);
}

.orange {
  color: #e67b10!important;
}

.bg-orange {
  background-color: #e67b10!important;
}